@import '../variables';

:export {
  darkBlue: $dark-blue;
  lightBlue: $light-blue;
  lightGrey: $light-grey;
  grey: $grey;
  mediumGrey: $medium-grey;
  darkGrey: $dark-grey;
  black: $black;
  white: $white;
}