$dark-blue: #4267b2;
$light-blue: #0084ff;
$light-grey: #f1f0f0;
$medium-grey: #bdc7d8;
$dark-grey: #999999;
$black: #000000;
$white: #ffffff;

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  height: 100%;
}

.app {
  overflow: hidden;
  flex: 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;

  .top-bar {
    background: $dark-blue;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #29487d;
    color: $white;
    .icon {
      color: $white;
    }
  }

  .messenger {
    display: flex;
    //width: 25%;
    border-right: 1px solid $medium-grey;

    .conversation {
      display: flex;
      flex-direction: column;
      flex:3;
      .conversation-bar {
          border-bottom: 1px solid $medium-grey;
          padding: 0.9em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            text-align: center;
            margin: auto;
            font-size: 0.9rem;
            text-transform: capitalize;
          }
          .conversation-menu {
            & > div {
              display: inline-block;
            }
            .icon {
              margin: 0 0.5em;
            }
          }
        }

      .conversation-content {
        display: flex;
        height: 100%;

        .messages {
          width: 66.6%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .list {
            padding: 1em;
            overflow-y: auto;
            p {
              color: $dark-grey;
              font-size: 0.9em;
            }
            .message-wrapper {
              padding: 0.5em;
              display: flex;
              &.sent {
                justify-content: flex-end;
                .message {
                  background: $light-blue;
                  color: $white;
                }
                .message-read {
                  display: flex;
                  flex-flow: column;
                  justify-content: flex-end;
                  .icon {
                    font-size:0.6rem;
                    cursor: auto;
                  }
                }
              }
              &.received {
                .message {
                  background: $light-grey;
                }
              }
              .message {
                border-radius: 20px;
                padding: 0.5em 1em;
                display: inline-block;
                font-size: 0.9rem;
              }
            }

          }
          .new-message {
            padding: 1em;
            border-top: 1px solid $medium-grey;
            font-size: 0.9rem;
            display: flex;
            justify-content: space-between;
            .message-box {
              color: $medium-grey;
              border-color: transparent;

            }
          }
        }

        .user-detail {
          width: 33.3%;
          border-left: 1px solid $medium-grey;
          .user-detail-content {
            padding: 1em 0.8em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $medium-grey;
            .detail {
              display: flex;
              align-items: center;
              .user-name {
                font-size: 0.9rem;
                text-transform: capitalize;
              }
              .last-active {
                font-size: 0.75rem;
                color: $dark-grey;
              }
            }
          }
          .options {
            padding: 1em;
            font-size: 0.9em;
            color: $dark-grey;
            border-bottom: 1px solid $medium-grey;
          }
          .facebook-profile {
            padding: 1em;
            font-size: 0.9em;
            color: $dark-grey;
          }
          .icon {
            color: $dark-grey;
            font-size: 1rem;
          }
        }

      }
    }


    .threads {
      display: flex;
      border-right: 1px solid $medium-grey;
      flex-direction: column;
      flex:1;
      .thread-bar {
        border-bottom: 1px solid $medium-grey;
        padding: 0.85em;
        .info-bar-content {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-between;
        }
      }
      .thread-list {
        overflow-y: auto;
        width: 100%;
        list-style: none inside none;
        padding: 0;
        margin: 0;
        li.preview {
          display: flex;
          align-items: center;
          padding: 0.4em 0.75em;
          &:hover {
            background: $light-grey;
            cursor: pointer;
          }
          .user-name {
            font-size: 0.9em;
            text-transform: capitalize;
          }
          .message-preview {
            font-size: 0.8em;
            color: $dark-grey;
          }
        }
      }
    }
  }
}

.avatar {
  margin-right: 0.5em;
  &.small {
    clip-path: circle(10px at center);
    width:20px;
  }
  &.medium {
    clip-path: circle(15px at center);
    width:30px;
    height: 30px;
  }
  &.large {
    clip-path: circle(25px at center);
    width: 50px;
  }
}

.icon {
  color: $light-blue;
  font-size: 1.5rem;
  cursor: pointer;
}

button {
  color: $light-blue;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}
