@import './styles/variables.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  height: 100%;
}

.app {
  background-color: $white;
  overflow: hidden;
  flex: 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.top-bar {
  background: $dark-blue;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #29487d;
  color: $white;
  a, .icon {
    color: $white;
  }
  a {
    cursor: pointer;
  }
  ul {
    list-style: none;
    position: absolute;
    top: 20px;
    display: block;
    img {
      border-radius: 50%;
      height: 50px;
      height: 30px;
      margin-top: -5px;
    }
    li {
      display: inline-block;
      padding-right: 8px;
      padding-left: 8px;
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
    }
    &.right {
      right: 20px;
    }
    &.left {
      left: 20px;
    }
  }
}

.messenger {
  display: flex;
  flex: 1;
  border-right: 1px solid $medium-grey;

  .conversation {
    display: flex;
    flex-direction: column;
    flex:3;
    .conversation-bar {
      position: relative;
      border-bottom: 1px solid $medium-grey;
      padding: 1.05em;
      align-items: center;
      h2 {
        text-transform: capitalize;
      }
      .conversation-menu {
        position: absolute;
        right: 5px;
        top: 15px;
        & > div {
          display: inline-block;
        }
        .icon {
          margin: 0 0.5em;
        }
      }
    }

    .conversation-content {
      display: flex;
      height: 100%;

      .messages {
        display: flex;
        flex:2;
        flex-direction: column;
        justify-content: space-between;

        .list {
          padding: 1em;
          overflow-y: auto;
          p {
            color: $dark-grey;
            font-size: 0.9em;
          }
          .message-wrapper {
            padding: 0.5em;
            display: flex;
            &.sent {
              justify-content: flex-end;
              .message {
                background: $light-blue;
                color: $white;
              }
              .message-read {
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                .icon {
                  font-size:0.6rem;
                  cursor: auto;
                }
              }
            }
            &.received {
              .message {
                background: $light-grey;
              }
            }
            .message {
              border-radius: 20px;
              padding: 0.5em 1em;
              display: inline-block;
              font-size: 0.9rem;
            }
          }

        }
        .new-message {
          min-height: 20px;
          padding: 1em;
          border-top: 1px solid $medium-grey;
          font-size: 0.9rem;
          display: flex;
          justify-content: space-between;
          height: 60px;
          .message-box {
            color: $medium-grey;
            border-color: transparent;

          }
        }
      }

      .user-detail {
        width: 33.3%;
        border-left: 1px solid $medium-grey;
        > div {
          padding: 1em;
          font-size: 0.9em;
          color: $dark-grey;
          border-bottom: 1px solid $medium-grey;
          &:last-child {
            border-bottom: none;
          }
        }
        .user {
          display: flex;
          justify-content: space-between;
          align-items: center;
          > div {
            display: flex;
            align-items: center;
            .user-name {
              font-size: 0.9rem;
              text-transform: capitalize;
            }
            .last-active {
              font-size: 0.75rem;
              color: $dark-grey;
            }
          }
        }
      }
    }
  }

  .threads {
    display: flex;
    border-right: 1px solid $medium-grey;
    flex-direction: column;
    flex:1;
    .thread-bar {
      border-bottom: 1px solid $medium-grey;
      padding: 0.85em;
      h2 {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
      }
    }
    .thread-list {
      overflow-y: auto;
      width: 100%;
      list-style: none inside none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        padding: 0.4em 0.75em;
        &:hover {
          background: $light-grey;
          cursor: pointer;
        }
        span {
          font-size: 0.9em;
          text-transform: capitalize;
        }
        small {
          font-size: 0.8em;
          color: $dark-grey;
          margin: 2px 0;
          display: block;
        }
      }
    }
  }
}

.avatar {
  margin-right: 0.5em;
  &.small {
    clip-path: circle(10px at center);
    width:20px;
  }
  &.medium {
    clip-path: circle(15px at center);
    width:30px;
    height: 30px;
  }
  &.large {
    clip-path: circle(25px at center);
    width: 50px;
  }
}

.icon {
  color: $grey;
  font-size: 1.5rem;
}

a .icon {
  color: $light-blue;
  cursor: pointer;
}

button {
  color: $light-blue;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

h2 {
  font-weight: 300;
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.footer {
  padding: 8px;
  text-align: center;
  background: $light-grey;
  border-top: 1px solid $medium-grey;
  font-size: 0.8rem;
}

.page-center {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
